services:
  postgres:
    image: postgres:latest
    container_name: studhunter-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: studhunter
    ports:
      - "5433:5432"
    volumes:
      - studhunter-data:/var/lib/postgresql
    restart: unless-stopped
  studhunter-api:
    build:
      context: .
      dockerfile: StudHunter.API/Dockerfile
    container_name: studhunter-api
    ports:
      - "5010:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=studhunter;Username=postgres;Password=postgres
      - Jwt__Key=MyTopSecretVeryLongKeyForStudHunter123!
      - Jwt__Issuer=StudHunter
      - Jwt__Audience=StudHunter
    depends_on:
      - postgres
    restart: unless-stopped
volumes:
  studhunter-data: